<div class="col-sm-3 offset-sm-1 blog-sidebar">
 <div class="sidebar-module sidebar-module-inset">
   <h4>About</h4>
   <p> Hoping to learn all that I can from anybody whether it's through comments, experience, or bootcamps similar to Devcamp. </p>
 </div>
 
   <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
   <h4>Topics</h4>
   <% @side_bar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic) %></p>
   <% end %>
  </div>
 
 <div class="sidebar-module">
   <h4>Elsewhere</h4>
   <ol class="list-unstyled social-links">
     <li><a href='https://github.com/up2l8-0'><%= fa_icon "github" %> </a> </li>
     <li><a href='https://www.facebook.com/profile.php?id=100006229751066'><%= fa_icon "facebook" %> </a> </li>
     <li><a href='https://twitter.com/Its_Mark_Ward'><%= fa_icon "twitter" %> </a> </li>
     <li><a href='https://www.instagram.com/its_mark_ward/'><%= fa_icon "instagram" %> </a> </li>
   </ol>
 </div>
</div>